@import "less_lib/normalize.css";
.fullbox {
  height: 100%;
  width: 100%;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#Menu,
#Main {
  height: 100%;
  width: 100%;
  position: fixed;
}
#EntryList,
#SongList,
#PlayBox {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #000;
}
#EntryList .head-bar,
#SongList .head-bar,
#PlayBox .head-bar {
  height: 40px;
  background-color: #000;
  text-align: center;
  color: #fff;
  line-height: 40px;
}
.dragswitch-dragging * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
#Menu {
  background-color: #f00;
  left: 0;
  top: 0;
  z-index: 0;
}
#Main {
  overflow: hidden;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
#EntryList {
  background-color: #0f0;
}
#SongList {
  background-color: #00f;
}
#PlayBox {
  background-color: #fff;
}
.Menu #Main {
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -o-transform: translateX(200px);
  -ms-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -o-transform: translateX(200px);
  -ms-transform: translateX(200px);
  transform: translateX(200px);
}
.EntryList #EntryList {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.EntryList #SongList {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
.EntryList #PlayBox {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.SongList #EntryList {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
.SongList #SongList {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.SongList #PlayBox {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.PlayBox #EntryList {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
.PlayBox #SongList {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.PlayBox #PlayBox {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.entry-list-item {
  position: relative;
  height: 40px;
  border: 2px solid #000;
  background: #f0d0ed;
}
.entry-item-ctrl-left {
  display: block;
  float: left;
  width: 200px;
  height: 40px;
  width: 200px;
  height: 40px;
  background: #124a32;
}
.entry-item-ctrl-right {
  display: block;
  float: left;
  width: 200px;
  height: 40px;
  width: 200px;
  height: 40px;
  background: #124a32;
  float: right;
  background: #119a92;
}
.entry-item {
  position: absolute;
  top: 0;
  left: 0;
  background: #0a21f9;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.entry-list-left .entry-item {
  -webkit-transform: translatex(40px);
  -moz-transform: translatex(40px);
  -o-transform: translatex(40px);
  -ms-transform: translatex(40px);
  transform: translatex(40px);
  -webkit-transform: translatex(40px);
  -moz-transform: translatex(40px);
  -o-transform: translatex(40px);
  -ms-transform: translatex(40px);
  transform: translatex(40px);
}
.entry-list-right .entry-item {
  -webkit-transform: translatex(-40px);
  -moz-transform: translatex(-40px);
  -o-transform: translatex(-40px);
  -ms-transform: translatex(-40px);
  transform: translatex(-40px);
  -webkit-transform: translatex(-40px);
  -moz-transform: translatex(-40px);
  -o-transform: translatex(-40px);
  -ms-transform: translatex(-40px);
  transform: translatex(-40px);
}
.entry-item-edit-panel {
  position: absolute;
  display: none;
}
